*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: 0;
}

.clear{
    clear: both;
}

.container{
    max-width: 900px;
    padding: 0 2%;
    margin: auto;
}

section.header-wrapper{
    width: 100%;
    min-height: 700px;
    padding: 30px 0;
    background-color: aquamarine;
}

header{
    border-bottom: 3px solid rgba(80, 157, 135, 0.3);
    padding-bottom: 15px;
}

.logo{
    width: 166px;
    height: 64px;
    background: rgb(255, 255, 255);
    float: left;
}

nav{
    float: left;
    padding: 16px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    padding: 0 15px;
}

nav ul li a{
    color: white;
}

.telefone span{
    color: white;
    float: left;
    font-size: 22px;
    position: relative;
    top: 10px;
}

li.selected{
    color: #509d87;
    position: relative;
}

li.selected > a{
    color: inherit;
}
li.selected > span{
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 3px;
    background: #509d87;
}

.header-content{
    padding: 60px;
}
.left-content{
    float: left;
    width: 50%;
}

.left-content h2{
    color: #509d87;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 20px;
}

.left-content p{
    padding: 10px 0;
    margin-bottom: 20px;
    color: #1b704d;
}

.left-content form input{
    display: inline-block;
} 

.left-content form input[type=email]{
    width: 250px;
    height: 40px;
    border: 3px solid #ccc;
    border-radius: 130px;
    padding-left: 15px;
    margin: 10px 0;
} 

.left-content form input[type=submit]{
    width: 150px;
    height: 40px;
    border: 0;
    background-color: #00daaa;
    color: white;
    border-radius: 120px;
    cursor: pointer;
    font-size: 15px;
    margin: 10px 0;
} 

.left-content span{
    color: hsl(163, 44%, 51%);
    display: block;
    margin-top: 20px;
}

.right-content{
    float: left;
    width: 50%;
    padding-left: 40px;
    
}

.right-content .img{
    float: left;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: black;  
    margin: 3px;
}

.diferencial-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.img-dif{
    width: 64px;
    height: 64px;
    background-color: lightcoral;
    margin-bottom: 15px;
}

.diferencial-single{
    width: 33.3%;
    padding: 20px;
}

.diferencial-single h2{
    font-size: 30px;
    color: #777777;
    margin: 30px 0;
}

.diferencial-single h2 > b{
    color: #7dd5d0;
}

.diferencial-single p{
    font-size: 14px;
    color: #2b2b2b;
}